#RightSidebar {
    cursor: default;
    background: #ffffff;
    position: absolute;
    border-top: 1px solid #e5e5e5;
    overflow: auto;
    right: 0px;
    z-index: 1;
    background-color: whitesmoke;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12px;
    top: 30px;
    width: 240px;
    bottom: 15px;
}

#RightSidebar .control {
    padding-left: 10px;
    padding-right: 10px;
}
#RightSidebar .control .title {
    display: block;
    margin-top: 20px;
    margin-bottom: 2px;
}

#RightSidebar .control input[type='number'] {
    width: 40px;
}

#RightSidebar .control button.active {
    background-color: royalblue;
    color: #fff;
    border: 2px solid royalblue;
}

#ItemControl {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

#ItemControl button {
    display: block;
    width: 100%;
}
