#SiteModal {
    display: none;
}

#SiteModal.open {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1010;
}

#SiteModal.open #SiteModalBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5;
}

#SiteModal.open #SiteModalForeground {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #fff;
    max-width: 1024px;
    display: inline-block;
    margin: 0 auto;
    padding-top: 60px;
}

#SiteModal.open #ModalHeader {
    margin-top: -60px;
    position: relative;
    width: 100%;
    height: 60px;
}

#SiteModal.open #ModalHeader button {
    padding: 4px 24px;
    position: absolute;
    top: 15px;
    left: 15px;
}

#SiteModal.open #ModalScrollableContent {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#SiteModal.open #ModalContent {
    padding: 15px;
}

#SiteModal.open #ModalContent > div {
    display: none;
}

#SiteModal.open #ModalContent > div.active {
    display: block;
}


#SiteModal.open #FormatHelpSection {
    color: black;
    font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

#SiteModal.open #FormatHelpSection a {
    color: #0066cc;
}

#SiteModal.open #FormatHelpSection a:hover {
    text-decoration: none;
}

#SiteModal.open #FormatHelpSection h4 {
    font-size: 12pt;
    font-weight: normal;
    color: #003399;
    margin: 15px 0px 0px 0px;
}

#SiteModal.open #FormatHelpSection table {
    width: 100%;
    text-align: left;
}

#SiteModal.open #FormatHelpSection table th {
    padding: 5px 0;
}

#SiteModal.open #FormatHelpSection table tr td {
    padding: 2px 0;
}
